.career {
	.header {
		text-align: center;
		margin-bottom: 2em;
	}

	.content {
		display: flex;
		justify-content: space-between;

		.left, .right {
			display: flex;
			flex-direction: column;
		}
		
		.left {
			width: 75%;
			align-items: flex-start;
			img {
				width: 80%;
				height: auto;
			}
		}

		.right {
			justify-content: space-evenly;
			width: 25%;
			align-items: flex-end;
		}
	}
}

@media screen and (max-width: 768px) {
	.career {
		.content {
			padding: 0 1em;
			flex-direction: column;

			.left, .right {
				width: 100%;
				align-items: center;
			}

			.left {
				margin-bottom: 1em;
				img {
					width: 75%;
				}
			}

			.right {
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				img {
					width: 30%;
				}
			}
		}
	}
}
