.education {
	.header {
		text-align: center;
		margin-bottom: 2em;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.row {
			display: flex;
			align-items: center;
			width: 100%;
			img {
				width: 30%;
				height: auto;
				margin: 0 2em;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.education {
		.content {
			padding: 0 1em;

			.row {
				flex-direction: column;
				align-items: center;
				img {
					width: 75%;
				}
				// margin: 0 auto;
			}

			.row.reverse {
				flex-direction: column-reverse;
			}
		}
	}
}
