.circle-container {
	position: fixed; /* ensure that particles stay in view */
	top: -5vh; /* offset from top of viewport */
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	.circle {
		width: 2px;
		height: 2px;
		border-radius: 50%;
		background-color: rgb(201, 201, 201);
		animation: fadein-frames 200ms infinite, scale-frames 2s infinite, color-frames 4s infinite;

		@keyframes fadein-frames {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0.5;
			}
			100% {
				opacity: 1;
			}
		}

		@keyframes scale-frames {
			0% {
				transform: scale3d(0.4, 0.4, 1);
			}
			50% {
				transform: scale3d(2.2, 2.2, 1);
			}
			100% {
				transform: scale3d(0.4, 0.4, 1);
			}
		}

		@keyframes color-frames {
			0% {
				background-image: radial-gradient(
					rgb(84, 84, 84),
					rgb(84, 84, 84) 10%,
					rgba(84, 84, 84, 0) 56%
				);
			}

			50% {
				background-image: radial-gradient(
					rgb(125, 125, 125),
					rgb(125, 125, 125) 10%,
					rgba(125, 125, 125, 0) 56%
				);
			}

			100% {
				background-image: radial-gradient(
					rgb(200, 200, 200),
					rgb(200, 200, 200) 10%,
					rgba(200, 200, 200, 0) 56%
				);
			}
		}
	}

	/* random particle movement */
	&:nth-child(odd) {
		animation: move-frames-odd 15s infinite;
	}

	&:nth-child(even) {
		animation: move-frames-even 15s infinite;
	}

	@keyframes move-frames-odd {
		from {
			transform: translate3d(10vw, 100vh, 0);
		}
		to {
			transform: translate3d(40vw, -100vh, 0);
		}
	}

	@keyframes move-frames-even {
		from {
			transform: translate3d(50vw, 100vh, 0);
		}
		to {
			transform: translate3d(80vw, -100vh, 0);
		}
	}
}
